<html ng-app="avoider">
  
  <head>
    <title>How To Play</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    
    <ng-include src="'../views/partials/header'"></ng-include>
    
    <h1 class="text-center" id="faq-header">Frequently Asked Questions</h1>

    <div id="questions-block">
      <div class="question">
        <h3>Question 1: What is this game?</h3>
        <p>Answer: This is an arcade game</p>
      </div>
      
      <div class="question">
        <h3>Question 2: How do you score points?</h3>
        <p>Answer: You score points by dodging your enemies for as long as possible</p>
      </div>
      
      <div class="question">
        <h3>Question 3: Do you have to create an account?</h3>
        <p>Answer: No. Best of all, this game can be played without signing up.</p>
      </div>
      
      <div class="question">
        <h3>Question 4: Do you have to pay to play this game?</h3>
        <p>Answer: Unlike most games, this one is completely free.</p>
      </div>
    </div>
    
    <ng-include src="'../views/partials/footer'"></ng-include>
    
    <script src="../scripts/vendor/angular.min.js"></script>
    <script src="../scripts/app.js"></script>
    <script src="../scripts/controllers/navController.js"></script>
    
  </body>

</html>