<html ng-app="avoider">
  
  <head>
    <title>How To Play</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../styles/styles.css"></link>
  </head>

  <body>
  
    <ng-include src="'../views/partials/header'"></ng-include>
    
    <h1 class="text-center">How To Play</h1>
    
    <div id="game-help">
      
      <p>This is an arcade style game. You control a hero, and your objective is to avoid the enemies that
      appear on the screen</p>
      
      <p>The longer you stay alive, the higher your score will be</p>
      
      <p>Be sure to avoid the edges and the enemies</p>
      
    </div>
    
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/app.js"></script>
    <script src="../scripts/controllers/navController.js"></script>
    
  </body>

</html>