<html ng-app="avoider">
  
  <head>
    <title>Related</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../styles/styles.css"></link>
  </head>

  <body>
  
    <ng-include src="'../views/partials/header'"></ng-include>
    
    <h1 class="text-center" id="related-header">Related Games</h1>
    
    <div id="games-block">
    
      <section class="game-section">
        
        <h3>
          <span id="shapes">Shapes</span>
          <span id="header-game">Game</span>
        </h3>
        
        <p>
          <strong>Description: </strong>
          An arcade style game where you are presented with various shapes. Your objective is to determine which shape appears in
          front of you as quickly as possible.
        </p>
        
        <p>
          <strong>Link: </strong>
          <a href="https://shapes-game.firebaseapp.com">Shapes Game</a>
        </p>
        
      </section>
      
      <section class="game-section">
        
        <h3>
          <span id="snake">Canvas</span>
          <span id="online">Snake</span>
        </h3>
        
        <p>
          <strong>Description: </strong>
          A port of the classic arcade snake game.
        </p>
        
        <p>
          <strong>Link: </strong>
          <a href="https://canvas-snake.firebaseapp.com">Canvas Snake</a>
        </p>
        
      </section>
      
      <section class="game-section">
        
        <h3>
          <span id="fun">Fun</span>
          <span id="math">Math</span>
          <span id="game">Game</span>
        </h3>
        
        <p>
          <strong>Description: </strong>
          An arcade style math game where you evaluate two expressions
        </p>
        
        <p>
          <strong>Link: </strong>
          <a href="https://funmathgame.firebaseapp.com/">Fun Math Game</a>
        </p>
        
      </section>
      
      <section class="game-section">
        
        <h3>
          <span id="canvas">Canvas</span>
          <span id="pong">Pong</span>
        </h3>
        
        <p>
          <strong>Description: </strong>
          A port of the classic pong game
        </p>
        
        <p>
          <strong>Link: </strong>
          <a href="https://canvas-pong.firebaseapp.com/">Canvas Pong</a>
        </p>
        
      </section>
    
    </div>
    
    <ng-include src="'../views/partials/footer'"></ng-include>
    
    <script src="../scripts/vendor/angular.min.js"></script>
    <script src="../scripts/app.js"></script>
    <script src="../scripts/controllers/navController.js"></script>
    
  </body>

</html>